@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  background-image: linear-gradient(#e383b9, #5f65e9);

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: floralwhite;
  text-shadow: 1px 1px 3px #555;
}

a {
  color: #61dafb;
}

h1, h2 , .task p { 
  font-family: 'Handlee', cursive;
}

.task p {
  min-width: 275px;
  padding: 10px;
  border: 2px solid floralwhite;
  box-shadow: 1px 1px 3px #555;
  transition: text-decoration 3s;
  color:white;
}

.task p {
  cursor: pointer;
}

.task p::before {
  content: '♥ ';
}